<div class=" project-list"  >
    <div class="list-header">
        <h3 style="flex:1; margin:0;">{{listData.title}}</h3>
        <p-menu #menu [model]="items" [popup]="true"  c/>
        <p-button (click)="menu.toggle($event)" variant="text" severity="primary" icon="pi pi-ellipsis-v" />
    </div>

    <div class="card-list">
        @for (item of listData.cardList; track $index) {
           <app-project-card [card]="item" (click)="openCardDialog(item)" />
        }
    </div>

    <app-project-card-pop-up [card]="selectedCard" [visible]="cardDialogVisible" [onClose]="closeCardDialog.bind(this)" />



    <p-button  pRipple type="button" severity="contrast" variant="text" icon="pi pi-plus" label="Adicionar card" 
        class="p-button-text p-button-sm button-add-card"
        (onClick)="showCreateCardDialog()"
    />
</div>

<app-dialog  [data]="newCardDialogData" [loading]="loading" (setButtonAction)="createNewCard()"/>

<app-dialog  [data]="editListDialogData" [loading]="loading" (setButtonAction)="onEditList()"/>

