<div class="default-card project-list">
    <div style="display: flex; align-items: center; justify-content: space-between; gap: 8px;">
        <h3 style="flex:1; margin:0;">{{listData.title}}</h3>
        <button pButton pRipple type="button" icon="pi pi-ellipsis-h" class="p-button-text p-button-rounded p-button-sm" aria-label="Mais opções"></button>
    </div>
    <div class="card-list">
        @for (item of listData.cardList; track $index) {
            <div class="card-item">
                <span>{{item.title}}</span>
            </div>
        }
    </div>
    <p-button pRipple type="button" icon="pi pi-plus" label="Adicionar card" class="p-button-text p-button-sm"/>
</div>
