<div class="default-card project-list">
    <div style="display: flex; align-items: center; justify-content: space-between; gap: 8px;">
        <h3 style="flex:1; margin:0;">{{listData.title}}</h3>
        <p-menu #menu [model]="items" [popup]="true"  c/>
        <p-button (click)="menu.toggle($event)" variant="text" severity="primary" icon="pi pi-ellipsis-v" />
    </div>

    <div class="card-list">
        @for (item of listData.cardList; track $index) {
            <div class="card-item" (click)="openCardDialog(item)">
                <span>{{item.title}}</span>
            </div>
        }
    </div>

    <app-card [card]="selectedCard" [visible]="cardDialogVisible" [onClose]="closeCardDialog.bind(this)"></app-card>

    <p-button pRipple type="button" severity="primary" variant="text" icon="pi pi-plus" label="Adicionar card" 
        class="p-button-text p-button-sm"
        (onClick)="showCreateCardDialog()"
    />
</div>

<app-dialog  [data]="newCardDialogData" [loading]="loading" (setButtonAction)="closeCardDialog()"/>

<app-dialog  [data]="editListDialogData" [loading]="loading" (setButtonAction)="onEditList()"/>

