

<div *ngIf="visible" class="custom-card-popup" [ngClass]="{'full-mobile': isMobile}">
  <div class="popup-bg" (click)="closeDialog()"></div>
  <div class="popup-content" [ngStyle]="popupStyle">
    <button class="close-btn" (click)="closeDialog()" aria-label="Fechar">&#10005;</button>
    <div class="popup-scroll">
      <input [id]="'card-title-' + card.uuid" [(ngModel)]="card.title" class="popup-title" placeholder="Título do card" />
      <textarea [id]="'card-desc' + card.uuid" [(ngModel)]="card.description" class="popup-desc" placeholder="Descrição..."></textarea>
      <div class="popup-row">
        <span>Cor:</span>
        <input [id]="'card-color' + card.uuid" type="color"  [style.width.px]="32" [style.height.px]="32" />
      </div>
      
      <div class="popup-row date-row">
        <span>Início:</span>
        <input pInputText [id]="'card-start-' + card.uuid" type="date" [value]="card.start_at" [(ngModel)]="card.start_at" style="flex:1;" />
        <span >Término:</span>
        <input pInputText [id]="'card-end-' + card.uuid" type="date" [value]="card.end_at" [(ngModel)]="card.end_at" style="flex:1;" />
      </div>
      <div class="popup-row" style="flex-direction:column;align-items:flex-start;">
        <span>Poker Planning:</span>
        <div class="poker-grid">
          @for (item of pokerOptions; track $index) {
            <img 
              [src]="item.imgSrc" 
              [alt]="item.label" 
              [class.selected]="card.story_point === item.value"
              (click)="card.story_point = item.value"
            />
          }
        </div>
      </div>
      <p-button
        type="button" 
        severity="primary"
        icon="pi pi-check"
        label="Salvar"
        class="p-button-lg width-full"
        (click)="saveCard()">
      </p-button>
    </div>
    </div>

</div>
