

<div *ngIf="visible" class="custom-card-popup" [ngClass]="{'full-mobile': isMobile}">
  <div class="popup-bg" (click)="closeDialog()"></div>
  <div class="popup-content" [ngStyle]="popupStyle">
    <button class="close-btn" (click)="closeDialog()" aria-label="Fechar">&#10005;</button>
    <div class="popup-scroll">
      <input [(ngModel)]="card.title" class="popup-title" placeholder="Título do card" />
      <textarea [(ngModel)]="card.description" class="popup-desc" placeholder="Descrição..."></textarea>
      <div class="popup-row">
        <span>Cor:</span>
        <input pColorPicker [(ngModel)]="card.color" [style.width.px]="32" [style.height.px]="32" />
      </div>
      <div class="popup-row date-row">
        <span>Início:</span>
        <input pInputText type="date" [(ngModel)]="card.startDate" style="flex:1;" />
        <span >Término:</span>
        <input pInputText type="date" [(ngModel)]="card.endDate" style="flex:1;" />
      </div>
      <div class="popup-row" style="flex-direction:column;align-items:flex-start;">
        <span>Poker Planning:</span>
        <div class="poker-grid">
          @for (item of pokerOptions; track $index) {
            <img 
              [src]="item.imgSrc" 
              [alt]="item.label" 
              [class.selected]="card.pokerValue === item.value"
              (click)="card.pokerValue = item.value"
            />
          }
        </div>
      </div>
      <button 
        pButton 
        type="button" 
        severity="primary"
        icon="pi pi-check"
        label="Salvar"
        class="p-button-lg width-full"
        (click)="saveCard()">
      </button>
    </div>
    </div>

</div>
