
    <div class="section-header">
        <div class="section-header-content width-default">
            
            <div class="section-header-actions">
                <p-select (onChange)="selectChange()"  [options]="sections" [(ngModel)]="selectedSection" optionLabel="title"  placeholder="Select Section" />
            </div>
        </div>

        <button pButton type="button" (click)="buttonCLick()" severity="primary" icon="pi pi-plus" label="Add another list" class="width-default"></button>
    </div>