
    <div class="section-header">
        <div class="section-header-content width-default">
            <div class="section-header-title">
                <h3>Sprint 1</h3>
                <p>sdasdsad</p>
            </div>
            <div class="section-header-actions">
                <p-dropdown [(ngModel)]="selectedSection" [options]="sections"  />
                <p-button icon="pi pi-chart-bar" label="Graph"  class="button secondary"/>
            </div>
        </div>

        <p-button icon="pi pi-plus" label="Add another list" class="button primary width-default"/>
    </div>