<div class="auth-container">
  <h2>Cadastro</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <input maxlength="200" type="text" formControlName="name" placeholder="Nome" required>
    </div>
    <div class="p-field">
      <input minlength="5" maxlength="255" type="text" formControlName="email" placeholder="E-mail" required>
    </div>
    <div class="p-field">
      <input minlength="6" maxlength="12" type="password" formControlName="password" placeholder="Senha" required>
    </div>
    <button type="submit" class="button primary custom-loading-button">
        <span *ngIf="!loading" > Sign Up </span> 
        <app-loading-spinner *ngIf="loading" size="20" />
    </button>
  </form>
  <a href="/signin">realizar login</a>
</div>
<p-toast/>
