<div class="auth-container">
  <h2>Cadastro</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <input
      maxlength="200"
      type="text"
      formControlName="name"
      placeholder="Nome"
      required
    />

    <input
      minlength="5"
      maxlength="255"
      type="email"
      formControlName="email"
      placeholder="E-mail"
      required
    />

    <p-password
      [feedback]="false"
      [toggleMask]="true"
      minlength="6"
      maxlength="12"
      type="password"
      formControlName="password"
      placeholder="Senha"
      required
    />

    <button type="submit" class="button primary custom-loading-button">
      <span *ngIf="!loading"> Sign Up </span>
      <app-loading-spinner *ngIf="loading" size="20" />
    </button>
  </form>
  <a href="/signin">Already have an account? Log in</a>
</div>
<p-toast />
