
.labels {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.labels div{
    height: 5px;
    border-radius: 2px;
    width: 100%;
}

.card-item {
    flex-direction: column;
    background: var(--gray-content);
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(9, 30, 66, .08);
    padding: 12px 10px;
    margin-bottom: 0;
    font-size: 0.95rem;
    color: #172b4d;
    cursor: pointer;
    transition: box-shadow 0.2s;
    border: none;
    min-height: 130px;
    
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    transition: opacity 0.3s ease;
}

.card-item:hover {
    box-shadow: 0 4px 8px rgba(9, 30, 66, .13);
}