<p-dialog
  header="{{ data.header }}"
  [modal]="true"
  [(visible)]="data.visible"
  [style]="{ width: '25rem' }"
  [draggable]="false"
  [closable]="false"
  (onHide)="disableDrag()"
  (onShow)="enableDrag()"
>
  <p-iftalabel style="margin-bottom: 2rem">
    <input
      pInputText
      [id]="data.inputId"
      [(ngModel)]="data.inputModel"
      style="width: 100%"
    />
    <label for="{{ data.inputId }}">{{ data.inputLabel }}</label>
  </p-iftalabel>
  <div class="flex justify-end gap-2">
    <p-button
      [label]="data.returnButtonLabel"
      variant="text"
      severity="danger"
      (click)="closeDialog()"
    />
    <p-button
      [label]="data.goButtonLabel"
      (click)="onClick()"
      [loading]="loading"
    />
  </div>
</p-dialog>
