<div class="app-container">
  <app-navigation></app-navigation>
  <div class="home-container">
    <div class="section-header">
      <h2>Hello </h2>

      <div>
        <p-button
          icon="pi pi-plus"
          label="Create a new Project"
        ></p-button>
      </div>
    </div>

    <div class="grid-projects">
      @for(item of projects; track $index){
      <div class="default-card" [routerLink]="[`/project/${item.uuid}/general`]"  [style]="item.backgroundImage && `backgroundImage: url(${item.backgroundImage});`">
        <div>
          <h3>{{item.title}}</h3>
          <i class="pi pi-square"></i>
        </div>
      </div>
      }
    </div>
  </div>
</div>
