   <div class="section-header">
      <div class="default-card" (click)="showCreateSectionDialog()">
        Create new section +
      </div>
      <div style="display: flex; flex-direction: column; gap: 0.8rem; width: 300px;">
        <button pButton type="button" severity="secondary" icon="pi pi-user-plus" label="Invite Workspace members"></button>
        <div style="display: flex; justify-content: space-between; gap: 0.5rem;">
          <button [routerLink]="[`/project/${projectId}/sprints`]" pButton type="button" severity="secondary" icon="pi pi-th-large" label="Sprints"></button>
          <button [routerLink]="[`/project/${projectId}/members`]" pButton type="button" severity="secondary" icon="pi pi-user" label="Members"></button>
          <button [routerLink]="[`/project/${projectId}/config`]" pButton type="button" severity="secondary" icon="pi pi-cog" label="Settings"></button>
        </div>
      </div>
    </div>

    <app-dialog [data]="dialogData" [loading]="loading" (setButtonAction)="createNewSection()"  />