   <div class="section-header">
      <div class="default-card">
        Create new section +
      </div>
      <div style="display: flex; flex-direction: column; gap: 0.8rem; width: 300px;">
        <p-button
          icon="pi pi-user-plus"
          class="button secondary"
          label="Invite Workspace members"
        ></p-button>
        <div style="display: flex; justify-content: space-between;">
            <p-button
             icon="pi pi-th-large"
          class="button secondary"
          label="Views"
        ></p-button>
        <p-button
         icon="pi pi-cog"
          class="button secondary"
          label="Settings"
        ></p-button>
        <p-button
             icon="pi pi-user"
          class="button secondary"
          label="Members"
        ></p-button>
        </div>
      </div>
    </div>