.list-container {
    display: flex;
    height: auto;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    gap: 0.7rem;
    padding-left: 80px;
    scrollbar-width: none; 
}

.list-container::-webkit-scrollbar {
    display: none;
}

.list-container:hover {
    overflow-x: auto;
    scrollbar-width: thin; 
}
.list-container:hover::-webkit-scrollbar {
    display: block;
    height: 8px;
    background: #eee;
}


