.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: yellow;
    margin-inline: 4rem;
    width: 87%;
    min-height: 300px;
    padding: 1rem;
    margin-top: 2rem;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.list-container::-webkit-scrollbar {
    display: none;
}

.list-container:hover {
    overflow-x: auto;
    scrollbar-width: thin; 
    cursor: grab;
}
.list-container:hover::-webkit-scrollbar {
    display: block;
    height: 8px;
    background: #eee;
}

@media (max-width: 768px) {
    .list-container {
        width: 100%;
        margin-inline: 0;
        padding: 0.5rem;
    }
}

